<ion-header>
  <ion-navbar color="dark">
    <ion-title>
      Kawebook
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label floating>URL</ion-label>
    <ion-input type="url" [(ngModel)]="url"></ion-input>
  </ion-item>

  <button ion-button full  theme1 (click)="openWebpage(url,0)">Open Theme 1</button>
  <button ion-button full  theme2  (click)="openWebpage(url,1)">Open Theme 2</button>
</ion-content>